html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0,
}

body{
    font-size: 10px;
}

header{
    height: 100%;
    width: 100%;
    background-image: url(../image/large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.opacidad{
    background-color: rgba(76, 78, 82, 0.75);
}

*{
    font-family: 'Lato', sans-serif;
}


.container-fluid {
    padding-right: 40px!important;
    padding-left: 40px!important;

}

.navbar-default {
    border-bottom: transparent!important;
 }

.navbar-toggle {
    margin-top: 37px;
    margin-right: 13%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #528DD2;
    color: white!important;
    border-radius: 5px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;   
}


.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
    padding: 10px 25px;
    font-size: 2.4rem;
}

.logo{
    padding-top: 30px;
    width: 62%;
    padding-left: 13%;
}

.logo-2 {
    width: 55%;
    color: white;
    font-weight: 300;
}

.seccion-2{
    background-image: url(../image/sec-2.jpg);
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}     

.titulo-grande {
    margin-top: 20%;
    padding-left: 15%;
    padding-right: 15%;
    color: white;
    font-size: 55px;
    text-align: center;
}


.barra-pruebagratis {
    background-color:rgba(82,141,210,0.8);
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2.4%;
    margin-top: -11.2%;
    color: white;
}
    

.btn-primary{
    background-color: transparent;
    border: 2px solid white;
    width: 210px;
    font-size: 27px;
    margin-top: 6%;
    margin-left: 7%;
}



/***SERVICIO*****************************************/

.linea-separador{
    margin: 50px 0 20px;
    border-bottom: 1px solid #eee;
}

.titulo-servicio {
    color: #68ADFF;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

   
.sub-servicios {
    text-align: center;
    color: #6987A4;
    font-size: 28px;
}

.icono-servicio{
    font-size: 4rem;
    text-align: center;
    width: 150px;
    line-height: 143px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #6EB9DE;
    position: relative;
    margin: 0 auto 35px;
    margin-top: 50px;
    box-shadow: -1px 3px 7px rgba(0, 0, 0, 0.11);
    }

 .text-servicio{
    padding: 5%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}
.mediamanzana{
    color: #6987A4;
    font-size: 1.3rem;

}

.texto-ejemplo{
    font-size: 1.6rem;
}


/**DESARROLLO*************/

.separador{
    position: relative;
    top: 97px;
    left: 46%;
    z-index: 20;
}

.paso-titulo {
    padding-top: 5%;
    color: #68ADFF;
    font-size: 2rem;
    font-weight: 300;
}

.ico-paso i {
    font-size: 2.3em;
    text-align: center;
    position: relative;
    top: 30%;
    left: 28%;
    color: white;
}

.ico-paso {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #50BDEA;
    position: absolute;
    right: -4%;
    top: 100px;
    z-index: 15;
}


.herramienta {
    top: 259px;
}

.lupa {
    top: 417px;
} 


.flecha{
    padding-left: 245px;
}


.video iframe{
    width:100%;
    height: 315px;
}

.banner{
    background-image: url(../image/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

   
.caja{
    padding: 1% 8% 1.09%;
}

.separador-2{
    position: relative;
    top: -76px;
    left: 46%;
    z-index: 20;
}

.intro{
    background-image: url(../image/intro.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}


 /***FOOTER**************************/

footer .fondo-celeste{
    margin-top: 7.6%;
}

footer{
    color: white;
}

.footer-top{
    background-color: rgba(82,141,210,0.8);
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 11.2%; 
}

.footer-down{
    background-color: #2A3541;
    color: white;
    padding: 1.5%;
}

.iconos-redes{
    font-size: 3rem;

}

.redes:hover{
    color: white;
}

.icon-facebook{
    padding-right: 5%;
}

.text-left{
    padding-top: 1.5%;
}

footer .btn-primary{
    width: 230px; 
}





/**NAVEGADOR SCROLL COLOR****************/

    .navegador{
        background-color: transparent;
    }

    .navegador2{
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.6);
        padding-bottom: 15px;
    }

